<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/main.css" />
    </head>
    <body>
        <h1>Mystery Question</h1>
        <a href="/level1"><h3>Rozpocznij grę</h3></a>
        <a href="/rules"><h3>Zasady</h3></a>
    </body>
</html>