<html>
<head>
<link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>
<body>
<h1>Poziom 2</h1>
<form method="post" action="/hDE4Qbmf">
    <input type="text" name="answer" />
    <button type="submit">Potwierdź</button>
    </form><br><br>
    <span style="color: rgb(37, 37, 37); font-size: 16px;">imkazea<br>Psst. Przypominam, że odpowiedzi to zawsze pełne nazwy oraz są pisane małymi literami bez spacji.<br><br><br><br><br>(Nic ci to nie mówi? Spróbuj od tyłu ;)</span>
    <!-- To dopiero drugi poziom więc to nie może być tak skomplikowane -->
    <!-- Poszukaj dokładnie odpowiedzi na stronie -->
    </body>
</html>

