<html>
<head>
<link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>
<body>
<h1>Poziom 1</h1>
<form method="post" action="/level1">
    <input type="text" name="answer" />
    <button type="submit">Potwierdź</button>
</form>
</body>
    <!-- Przecież wszyscy lubią koty prawda? -->
</html>

