<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/main.css" />
    </head>
    <body>
        <h1>Zasady</h1>
        Na każdej stronie ukryte są podpowiedzi do rozwiązania zagadki.<br>
        Jeśli je odnajdziesz musisz wprowadzić je w pole znajdzujące się na środku ekranu.<br>
        Możliwe, że zdaży się zagadka w której będzie trzeba rozwiązać inną zagadkę nie polegającą na odnalezieniu hasła.<br><br>

        <h3>Powodzienia!</h3><br>
        <a href="/"><h3>Strona główna</h3></a>
    </body>
</html>